@page
@model Proiect5.Pages.ParticipariElevi.IndexModel

@{
    ViewData["Title"] = "Index";
}
<style>
    body {
        font-family: Arial, sans-serif;
        margin: 20px;
        background-color: #d8bfd8;
    }

    h1 {
        color: #fff;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
        padding: 20px;
    }


    table, th, td {
        border: 1px solid #d8bf;
    }

    th, td {
        padding: 12px;
        text-align: left;
        color: #fff;
    }

    thead {
        background-color: #ffc0cb;
    }

    tbody tr:nth-child(even) {
        background-color: #f9f9f9;
    }

    a.button.create {
        background-color: #d8bf;
    }

        a.button.create:hover {
            background-color: #d8bf;
        }

    a.button {
        text-decoration: none;
        color: #fff;
        padding: 8px 16px;
        border-radius: 4px;
        display: inline-block;
        margin-right: 5px;
        cursor: pointer;
    }

        a.button.edit {
            background-color: #d8bf;
        }

        a.button.details {
            background-color: #d8bf;
        }

        a.button.delete {
            background-color: #d8bf;
        }
</style>
<h1>Listă prezențe</h1>

<p>
    <a asp-page="Create" class="button create">
        Adaugă prezență
    </a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Descriere ședință
            </th>
            <th>
                Prezența
            </th>
            <th>
                Tema
            </th>
            <th>
                Elev
            </th>
            <th>
                Data ședință
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ParticipareElev)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.descriere)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.prezenta)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.tema)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.elev.nume)
                    @Html.DisplayFor(modelItem => item.elev.prenume)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.sedintameditatie.inceput)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.id" class="button edit">Editare</a>
                    <a asp-page="./Details" asp-route-id="@item.id" class="button details">Detalii</a>
                    <a asp-page="./Delete" asp-route-id="@item.id" class="button delete">Ștergere</a>
                </td>
            </tr>
        }
    </tbody>
</table>
