@page
@model Proiect5.Pages.MateriiProfesori.DetailsModel

@{
    ViewData["Title"] = "Details";
}
<style>
    body {
        font-family: Arial, sans-serif;
        margin: 20px;
        background-color: #d8bfd8;
        color: #fff;
    }

    h1, h4 {
        color: #fff;
    }

    dl {
        margin-top: 20px;
        padding: 20px;
        border: 1px solid #fff;
    }

    dt, dd {
        color: #fff;
    }

    .button.edit,
    .button.back {
        background-color: #d8bf;
        color: #fff;
        text-decoration: none;
        padding: 8px 16px;
        border-radius: 4px;
        display: inline-block;
        margin-right: 5px;
        cursor: pointer;
    }

        .button.edit:hover,
        .button.back:hover {
            background-color: #d8bf;
        }
</style>
<h1>Detalii orar</h1>

<div>

    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MaterieProfesor.sedinta_fizica)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MaterieProfesor.sedinta_fizica)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MaterieProfesor.sedinta_online)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MaterieProfesor.sedinta_online)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MaterieProfesor.tarif)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MaterieProfesor.tarif)
        </dd>
        
        
        
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.MaterieProfesor?.id" class="button edit">Editează</a> |
    <a asp-page="./Index" class="button back">Înapoi</a>
</div>
